extends layout

block content
	article
	img#home-img(alt='home', src='/assets/img/home.png')
	h1= message
	p= description
	a.btn(href='/produits')
		|En savoir plus
		i.fa.fa-angle-double-right
