extends layout

block content
    article
      h1#product-name= data.name
      .row
        .col
          img#product-image(alt='product', src="/assets/img/"+data.image)
        .col
          section
            h2 Description
            - var description= data.description
            p#product-desc !{description}
          section
            h2 Caractéristiques
            ul#product-features
              each feature in data.features
                li !{feature} 
          hr
          form#add-to-cart-form.pull-right
            label(for='product-quantity') Quantité:
            input#product-quantity.form-control(type='number', value='1', min='1',#productId(data.id))
            button.btn(title='Ajouter au panier', type='submit')
              i.fa.fa-cart-plus
              |   Ajouter
          p
            | Prix: 
            strong#product-price= data.price
      #dialog.dialog
        | Le produit a été ajouté au panier.

